OPENAI_API_KEY={{ keepassxcAttribute "OpenAI" "OPENAI_API_KEY" }}
ANTHROPIC_API_KEY={{ keepassxcAttribute "Anthropic" "ANTHROPIC_API_KEY" }}
GEMINI_API_KEY={{ keepassxcAttribute "Google Main" "GEMINI_API_KEY" }}
GITHUB_TOKEN={{ keepassxcAttribute "GitHub" "GITHUB_TOKEN" }}
